/*Estilos para cultar y mostrar elementos*/

.display {
    display: block;
    position: relative;
}

.hide {
    display: none;
}


/*Estilos generales de body*/

body {
    background-image: url("images/backgound2-screen1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
}

body:before {
    content: "";
    background-color: #34495e;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


/*Estilos de la primera pantalla*/

#screen_1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 15%;
    position: relative;
}

.Title {
    color: #edc232;
    font-family: 'Fjalla One', sans-serif;
    font-size: 91px;
}

.regularTitle {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #c6d1d6;
}

#validationPassButton {
    background: #edc232;
    color: #294e61;
    border: none;
    padding: 13px;
    border-radius: 6px;
}

#password {
    padding: 9px;
}

.credential-sticker {
    position: absolute;
    background: #edc232;
    padding: 15px;
    top: 0px;
    color: #294e61;
    border-radius: 0px 0px 10px 10px;
    left: 0px;
}

/*Pantalla de opciones*/

#options {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

.optionA {
    background: #edc232;
    width: 50%;
}

.optionB {
    background: #294e61;
    width: 50%;
}

.chipherB {
    color: #edc232;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    text-decoration: none;
    margin: 0px;
}

.chipherA {
    color: #294e61;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    text-decoration: none;
    margin: 0px;
}


/*Pantallas de cifrado y descifrado*/

.center>.chipherA {
    font-size: 3em !important;
}

.center>.chipherB {
    font-size: 3em !important;
}

#section1,
#section2 {
    width: 100%;
    height: 100vh;
    background: #dedddd;
}

.center {
    width: 50%;
    margin: auto;
    padding: 15%;
    font-family: 'Lato', sans-serif;
    color: #294e61;
    font-size: 1.5em;
}

.block1 {
    display: block;
    margin: 20px;
}

.form1 {
    margin: 20px;
}

#mensaje-acifrar,
#mensaje-descifrar {
    margin: 0px 20px 20px 20px;
    width: 97%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

#cifrar-button,
#descifrar-button {
    margin: 0px 20px 20px 20px;
    width: 120px;
    background: #edc232;
    color: #294e61;
    border: none;
    padding: 13px;
    border-radius: 6px;
    font-size: 0.8em;
    -webkit-box-shadow: 10px 11px 14px -1px rgba(181, 181, 181, 1);
    -moz-box-shadow: 10px 11px 14px -1px rgba(181, 181, 181, 1);
    box-shadow: 10px 11px 14px -1px rgba(181, 181, 181, 1);
}

#offsetC,
#offsetD {
    width: 50px;
    height: 22px;
}

#mensaje-cifrado,
#mensaje-descifrado {
    background: #e3ffca;
    padding: 15px;
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
    width: 96%;
    -webkit-box-shadow: 10px 10px 25px 0px rgba(204, 194, 204, 1);
    -moz-box-shadow: 10px 10px 25px 0px rgba(204, 194, 204, 1);
    box-shadow: 10px 10px 25px 0px rgba(204, 194, 204, 1);
}


/*Botones de direccionamiento*/

.button-out {
    position: absolute;
    width: 100px;
    top: 4vh;
    left: 90vw;
}

#goup > img {
    position: absolute;
    width: 100px;
    top: 103vh;
    left: 90vw;
}

#goup2 > img {
    position: absolute;
    width: 100px;
    top: 203vh;
    left: 90vw;
}